@model Product

<br>
<br>
<br>

<div class="container">
    <div class="card-wrapper">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="@Model.ImageUrl" alt="Website Builder">
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-box">
                    <h5 class="mbr-title mbr-fonts-style display-2">
                        <strong>@Model.Name</strong>
                    </h5>
                    <p class="mbr-text mbr-fonts-style display-7">
                        @Model.Detail
                    </p>
                    <div class="cost">
                        <span class="currentcost mbr-fonts-style pr-2 display-2">
                            @Model.Price.ToString("c")
                        </span>
                    </div>
                    <div class="mbr-section-btn pt-3">
                        <button type="button" class="btn btn-primary display-4" onclick="addToCart(@Model.Id)">
                            <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>
                            Add to cart&nbsp;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

@section Scripts {
    <script>
        function addToCart(productId) {
            fetch('/ShoppingCart/AddToShoppingCart?pId=' + productId, {
                method: 'POST',
                headers: { 'X-Requested-With': 'XMLHttpRequest' }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update cart count in UI if you have an element for it
                    if (document.getElementById('cartCount')) {
                        document.getElementById('cartCount').textContent = data.cartCount;
                    }
                    // Optionally show a toast/alert
                    alert('Added to cart!');
                } else {
                    alert('Could not add to cart.');
                }
            });
        }
    </script>
}